body {
  background: #333;
  margin-top: 80px;
}
.item {
  float: left;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: #333;
}
img {
  height: 100px;
}
.hero {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
}
